/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-realyellow: #ffde2b;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-darkblue: #1b2353;
  --color-green: #3caea3;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

/* Typhography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 25px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  background-color: var(--color-darkblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: 600;
}

.logo__img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

a {
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu__item {
  color: var(--color-white);
  margin: 10px;
  border-radius: 4px;
  padding: 7px;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  cursor: pointer;
  background-color: #73aace;
  transform: scale(1.1);
  transition: all 500ms ease;
}

/* Home */
#home {
  background: center/cover no-repeat url(/imgs/background_img.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  border: 3px solid var(--color-orange);
  border-radius: 8px;
  color: var(--color-orange);
  padding: 8px;
  font-size: var(--font-regular);
  margin-top: 35px;
}

.home__contact:hover {
  background-color: var(--color-orange);
  color: var(--color-black);
  transition: all 600ms ease;
}

/* Section Common */
.section {
  text-align: center;
  margin: auto;
}

.section.container {
  max-width: 1000px;
}

/* About me */
#about {
  padding: 50px 0;
}

.about__majors {
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.major {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.major__icon {
  color: var(--color-darkblue);
  font-size: var(--font-large);
  border: 1px solid var(--color-darkblue);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}

.major__icon:hover i {
  color: var(--color-pink);
  border-color: var(--color-pink);
  transform: rotate(25deg) scale(1.1);
  transition: all 700ms ease;
}

.major__title {
  font-weight: 700;
  font-size: var(--font-regular);
  margin: 15px 0;
}

.major__description {
  font-size: var(--font-small);
}

.about__jobs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job {
  display: flex;
  margin: 20px 5px;
}
.job__logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
  font-size: var(--font-micro);
  text-align: left;
}

/* Skills */
#skills {
  margin-top: 70px;
  background-color: var(--color-yellow);
  padding-top: 20px;
  padding-bottom: 40px;
}

.skillset {
  margin: 30px auto;
  color: var(--color-white);
  width: 90%;
  height: 300px;
  background-color: var(--color-dark-grey);
  display: flex;
}

.skillset__title {
  padding: 10px;
  color: var(--color-white);
}

.skills {
  padding: 10px 30px;
}

.skill {
  margin-top: 10px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-micro);
}

.skill__percet {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
  margin-bottom: 8px;
}

.skill__value {
  width: 70%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__left {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.skillset__right {
  height: 100%;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.tools {
  flex-basis: 60%;
  background-color: var(--color-grey);
}

.tools__list,
.etc__list {
  padding: 0;
}

.etc {
  flex-basis: 40%;
  background-color: var(--color-light-grey);
}

/* My works */
#work {
  padding-top: 20px;
  padding-bottom: 70px;
}

.work__categories {
  margin: 40px 0;
}

.category__btn {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  border: 2px solid var(--color-light-white);
  border-radius: 6px;
  padding: 8px 35px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-darkblue);
  transition: all ease 500ms;
  color: var(--color-white);
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--color-white);
  display: inline-block;
  line-height: 20px;
  margin-left: 4px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 500ms ease;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0px;
}

.project {
  position: relative;
  width: 220px;
  height: 220px;
  background-color: var(--color-light-white);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project__img {
  max-height: 100%;
  max-width: 100%;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.project__description {
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 500ms ease;
}

.project:hover .project__description {
  opacity: 0.8;
}

.project__description h3:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: var(--color-white);
  position: absolute;
  left: 90px;
  top: 107px;
  margin: 4px;
}

.project__description h3 {
  color: var(--color-white);
}

/* Testimonial */
#testimonials {
  background-color: var(--color-light-white);
  padding: 20px;
}

.testimonial {
  display: flex;
  padding: 20px;
}

.testimonial__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.testimonial__speech {
  background-color: var(--color-white);
  margin: 10px 25px;
  padding: 10px;
  color: var(--color-dark-grey);
}

.testimonial__speech p {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}
.person a {
  color: var(--color-dark-pink);
}

/* Contact*/
#contact {
  background-color: var(--color-darkblue);
  padding: 50px;
}

.contact__title {
  color: var(--color-white);
}

.contact__email {
  color: var(--color-white);
}

.contact__icons i {
  font-size: 40px;
  margin: 15px 5px;
}

.contact__icon:hover {
  color: var(--color-realyellow);
  transform: scale(1.1);
  transition: all 500ms ease;
}

.contact__rights {
  color: var(--color-light-white);
  font-size: var(--font-micro);
  margin-bottom: 30px;
}

/* Navbar toggle */

.navbar__toggle {
  color: var(--color-white);
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 15px;
  display: none;
}

/*  For below 768px screen width*/
@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
  }
  .navbar__toggle {
    display: block;
  }

  .navbar__menu {
    flex-direction: column;
    width: 85%;
    padding: 8px 0;
    display: none;
  }

  .navbar__menu__item {
    width: 100%;
    text-align: center;
  }

  .home__description {
    text-align: center;
  }

  /* About */
  .about__majors {
    flex-direction: column;
  }

  /* Skills */
  #skills {
    height: 800px;
  }

  .skillset {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .tools {
    padding-bottom: 10px;
  }
  .etc {
    padding-bottom: 10px;
  }

  .work__categories {
    width: 90%;
    margin: auto;
  }

  .project {
    flex-grow: 1;
  }
  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }

  .project__description h3:after {
    left: 195px;
  }
}
