/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-blue: #1b2353;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

/* Typhography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: 600;
}

.logo__img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

a {
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu__item {
  color: var(--color-white);
  margin: 10px;
  border-radius: 4px;
  padding: 7px;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  cursor: pointer;
  background-color: #73aace;
  transform: scale(1.1);
  transition: all 500ms ease;
}

/* Home */
#home {
  background: center/cover no-repeat url(/imgs/background_img.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  border: 3px solid var(--color-orange);
  border-radius: 8px;
  color: var(--color-orange);
  padding: 8px;
  font-size: var(--font-regular);
  margin-top: 35px;
}

.home__contact:hover {
  background-color: var(--color-orange);
  color: var(--color-black);
  transition: all 600ms ease;
}
